<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="conseil.css" />
    <script src="card.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="assets/images/logo.png" alt="logo" class="logo" />
        <img src="assets/images/logoText.png" alt="logoText" class="logotext" />
        <img
          src="assets/images/search.png"
          alt="search"
          class="icon icon-searcher"
        />
        <input type="text" placeholder="Search places" class="search" />
        <a class="ap" href="/profile">
          <img src="assets/images/firefly.jpg" id="profile-button" alt="avatar" class="avatar" />
        </a>
      </header>
      <container>
        <div class="left">
          <ul>
            <span>
              <img
                src="assets/images/home.png"
                alt="home"
                class="icon home-icon"
              />
              <li><a href="/home">Home</a></li>
            </span>
            <span class="second">
              <img
                src="assets/images/old-phone_11552945.png"
                alt="discover"
                class="icon discover-icon"
              />
              <li><a href="/help">Numbers & advise</a></li>
            </span>
            <span>
              <img
                src="assets/images/error-sign_76789.png"
                alt="friends"
                class="icon friends-icon"
              />
              <li><a href="/report">Report</a></li>
            </span>
            <span>
              <img
                src="assets/images/saved.png"
                alt="saved"
                class="icon saved-icon"
              />
              <li><a href="/saved">Saved</a></li>
            </span>
          </ul>
          <div class="line1"></div>
          <ul class="ul2">
            <span>
              <img
                src="assets/images/settings.png"
                alt="settings"
                class="icon settings-icon"
              />
              <li><a href="#">settings</a></li>
            </span>
            <span>
              <img
                src="assets/images/logout.png"
                alt="logout"
                class="icon logout-icon"
              />
              <li><a href="/logout">Logout</a></li>
            </span>
          </ul>
          <div class="info">
            <a href="usage_condition.html" target="_blank"
              >Terms and services</a
            >
            <a href="securityTerms.html" target="_blank"> Privacy Policy</a>
          </div>
        </div>
        <div class="right">
          <div class="conseil">
            <h1>Conseils pour éviter les arnaques au Maroc</h1>
              <ol>
                <li><strong>Se méfier des offres trop alléchantes</strong>: Si une offre semble trop belle pour être vraie, c'est souvent le cas. Soyez sceptique envers les offres qui promettent des gains rapides ou des avantages extraordinaires.</li>
                <li><strong>Vérifier les prix</strong>: Faites des recherches pour connaître les prix habituels des biens ou des services que vous souhaitez acheter. Cela vous permettra de repérer plus facilement les prix exagérément élevés ou bas.</li>
                <li><strong>Pratiquer le marchandage avec discernement</strong>: Le marchandage est courant au Maroc, mais cela ne signifie pas que tous les prix sont négociables. Sachez quand il est approprié de marchander et quand il vaut mieux accepter le prix affiché.</li>
                <li><strong>Éviter les transactions en espèces lorsque possible</strong>: Privilégiez les paiements par carte de crédit ou par virement bancaire pour les transactions importantes. Cela offre une trace plus claire et une meilleure protection en cas de litige.</li>
                <li><strong>Être vigilant dans les lieux touristiques</strong>: Les arnaques sont parfois plus courantes dans les endroits très fréquentés par les touristes. Soyez particulièrement attentif aux prix et aux offres dans ces endroits.</li>
                <li><strong>Se renseigner sur les entreprises et les vendeurs</strong>: Avant de faire affaire avec une entreprise ou un vendeur, recherchez des avis en ligne et demandez des recommandations à des personnes de confiance.</li>
                <li><strong>Faire attention aux faux guides touristiques</strong>: Certains individus peu scrupuleux peuvent se faire passer pour des guides touristiques officiels et vous conduire vers des commerces où ils touchent des commissions sur vos achats. Préférez recourir à des agences de voyage réputées ou demandez des recommandations fiables.</li>
                <li><strong>Être conscient des escroqueries courantes</strong>: Renseignez-vous sur les escroqueries fréquentes au Maroc, telles que les faux billets de banque, les vendeurs agressifs, ou les tours opérateurs peu fiables.</li>
              </ol>
            <p>En général, faites confiance à votre instinct. Si quelque chose vous semble suspect, il est préférable de ne pas poursuivre la transaction.</p>
          
            <h1>Numéros de téléphone utiles au Maroc</h2>
          
            <ol>
          <li><strong>Police :</strong> En cas d'urgence ou de besoin d'assistance policière, composez le <span style="color:red;">19</span>.</li>
          <li><strong>Pompiers :</strong> Pour signaler un incendie ou demander l'intervention des pompiers, composez le <span style="color:red;">15</span>.</li>
          <li><strong>SAMU :</strong> Pour les urgences médicales, y compris les situations nécessitant une ambulance, composez le <span style="color:red;">150</span>.</li>
          <li><strong>Assistance routière :</strong> En cas de panne de voiture ou d'accident sur la route, vous pouvez contacter le Centre National d'Appel d'Urgence sur l'autoroute en composant le <span style="color:red;">5050</span>.</li>
          <li><strong>Assistance touristique :</strong> Pour obtenir de l'aide ou des informations touristiques, vous pouvez contacter l'Office National Marocain du Tourisme au <span style="color:red;">+212 5372-02145</span>.</li>
          <li><strong>Assistance consulaire :</strong> Si vous êtes un ressortissant étranger ayant besoin d'assistance consulaire, contactez l'ambassade ou le consulat de votre pays au Maroc. Les coordonnées peuvent varier en fonction de votre nationalité.</li>
          <li><strong>Numéro d'information téléphonique :</strong> Le <span style="color:red;">160</span> est un service téléphonique national d'information générale.</li>
          <li><strong>Service client des compagnies aériennes, des hôtels, etc. :</strong> Si vous avez des problèmes avec une réservation ou avez besoin d'assistance, contactez le service client de la compagnie aérienne, de l'hôtel ou de toute autre entreprise concernée. Les numéros de téléphone peuvent varier en fonction de la société.</li>
          </ol>
          
          <p>Assurez-vous de vérifier les numéros de téléphone avant de voyager au Maroc, car ils peuvent changer et varier selon la région ou l'entreprise. Il est également judicieux de garder ces numéros à portée de main en cas d'urgence pendant votre séjour.</p>
          </div>
        </div>
      </container>
    </div>
  </body>
</html>
